.header-wraper{
    position: relative;
    background: url("./assets/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
}


@media screen and (min-width: 768px){
    .header-wraper{
        height: 80vh;
    }
}